<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<%= link_to like_article_path(@article), method: :put do %>
    Vote!
    <%= @article.get_upvotes.size %>
  <% end %>
  <%= link_to 'Back', :back %>