/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.headercontainer {
  width: 62.5em;
  margin: auto;
  margin-top: 0;
  padding-top: 0.1em;
}

.form-container {
  width: 31.25em;
}

.page_logo {
  width: 6.25em;
  float: left;
  -webkit-animation: spin 5s infinite linear;

  @-webkit-keyframes: spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
}



nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 4.375em;
  padding-top: 1em;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
}

.main-article {
  
    background-color: rgba(242, 242, 242);
  }

.cat-grid-cont {
  
  background-color: rgba(248, 249, 250);
}
  
.card-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.square{
  background-repeat: no-repeat; background-position: center;  background-size: cover;
  max-height: 31.25em;
  max-width: 31.25em;
}

.circle {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat; background-position: center;  background-size: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 1px #000;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail-img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.navbar {
  background-color: rgba(17, 17, 32);
}

.blog-post .edica-page-title {
  text-align: center;
}

.blog-post .edica-blog-post-meta {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #7d848b;
  margin-bottom: 67px; 
}

  .blog-post .blog-post-featured-img {
    margin-bottom: 44px; 
}

.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('/assets/hierve.jpeg');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}

.label {
  display: block;
  font-size: 2.8ch;
}

.head-img {
  max-width: 60em;
}