<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>


<% @articles.each do |art| %>
  <%= art.title %>
    <article class="card">

       <div class="card__info">
         <h2 class="card__title">
         </h2>
         <div class="card__subtitle">
         </div>
         <div>
           <p class="card__content">
             <%= art.text %>
             <%= art.votes.count %>
             
           </p>
             <%= link_to 'Read more', article_path(art.id), class: 'card__read-more' %>
         </div>
     </article>
<% end %>