
<footer class="footer text-center text-lg-start background-footer text-white">

  <section
    class="d-flex p-4 border-bottom justify-content-between"
  >

  <div class="text-left p-4 col-lg-4">
  © 2021 Sunny Díaz
  </div>

    <div class="me-5 d-none d-lg-block flex-lg-fill text-right p-4 col-lg-4">
      <span>Get in touch on social media:</span>
    </div>

    <div class="d-flex justify-content-around flex-sm-fill p-4 col-md-3">         
            <a href="https://twitter.com/josfrant6" class="me-4 text-reset">
                <i class="fab fa-twitter text-white"></i>
            </a>
            <a href="https://www.instagram.com/webdev.sunnydiaz/" class="me-4 text-reset">
                <i class="fab fa-instagram text-white"></i>
            </a>
            <a href="https://www.linkedin.com/in/jose-f-silva" class="me-4 text-reset">
                <i class="fab fa-linkedin text-white"></i>
            </a>
            <a href="https://github.com/sunnySparks" class="me-4 text-reset">
                <i class="fab fa-github text-white"></i>
            </a>
    </div>

  </section>

</footer>
