<footer class="text-center text-lg-start bg-light text-muted">

  <section
    class="row p-4 border-bottom justify-content-between"
  >

    <div class="text-center col p-4">
    © 2021 Sunny Díaz
    </div>

    <div class="col text-center p-4">
      <span>Get in touch on social media:</span>
    </div>

    <div class="col row pt-4 pb-4">         
            <a href="https://twitter.com/josfrant6" class="col-3 text-muted">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/webdev.sunnydiaz/" class="col-3 text-muted">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.linkedin.com/in/jose-f-silva" class="col-3 text-muted">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://github.com/sunnySparks" class="col-3 text-muted">
                <i class="fab fa-github fa-2x"></i>
            </a>
    </div>

  </section>

</footer>